@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--curved-border-bottom: 200px 80px;
	--theme-orange: #ff7518;
	--theme-lightgrey: #e0e0db;
	--theme-darkgrey: #2a2829;
	--theme-lightblack: #10100e;
	--theme-dark: #000000;
}

@font-face {
	font-family: 'Dancing Script', cursive;
	src: url('../fonts/DancingScript-VariableFont_wght.ttf') format('truetype'),
		url('../fonts/static/DancingScript-Bold.ttf') format('truetype'),
		url('../fonts/static/DancingScript-Medium.ttf') format('truetype'),
		url('../fonts/static/DancingScript-Regular.ttf') format('truetype'),
		url('../fonts/static/DancingScript-SemiBold.ttf') format('truetype');
}

body {
	color: white;
	background: linear-gradient(to right, #fc4041, #411554);
}

h1 {
	font-size: 64pt;
}

h2 {
	font-size: 56pt;
}

h3 {
	font-size: 48pt;
}

h4 {
	font-size: 40pt;
}

h5 {
	font-size: 32pt;
}

h6 {
	font-size: 24pt;
}

/* .image-blurred-edge {
	box-shadow: 0 0 8px 8px #191925;
} */

.image-blurred-edge-inset {
	box-shadow: 0 0 8px 32px #191925 inset;
}

.font-cursive {
	font-family: cursive;
}

.text-themed-orange {
	color: var(--theme-orange);
}

.bg-themed-orange {
	background-color: var(--theme-lightblack);
}

.bg-themed-lightgrey {
	background-color: var(--theme-lightgrey);
}

.border-btm-curved:after {
	content: '';
	border-bottom-left-radius: var(--curved-border-bottom) !important;
	border-bottom-right-radius: var(--curved-border-bottom) !important;
}

.pic-overlay {
	background-color: black;
	opacity: 0.9;
	z-index: 2;
}

/*
.font-dance {
	font-family: 'Dancing Script', cursive;
	src: url('../fonts/DancingScript-VariableFont_wght.ttf') format('truetype'),
		url('../fonts/static/DancingScript-Bold.ttf') format('truetype'),
		url('../fonts/static/DancingScript-Medium.ttf') format('truetype'),
		url('../fonts/static/DancingScript-Regular.ttf') format('truetype'),
		url('../fonts/static/DancingScript-SemiBold.ttf') format('truetype');
}
*/
