.container {
	margin-top: 64px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.left,
.right {
	width: 100%;
	position: relative;
}

.right {
	text-transform: capitalize;
}

.followers {
	display: flex;
	width: 100%;
	justify-content: space-around;
	margin-bottom: 32px;
	font-size: 20pt;
	line-height: 28px;
}

.heading {
	font-size: 22pt;
	line-height: 28px;
	/* font-weight: semi-bold; */
}

.section {
	margin-top: 16px;
	margin-bottom: 16px;
}

.sex,
.info * {
	font-size: 16pt;
	line-height: 24px;
	font-style: italic;
	color: lightgray;
}

.hobbies {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
	margin-bottom: 50px;
}

.hobby {
	border: 2px solid #ccc;
	padding: 12px 8px;
	border-radius: 16px;
	text-transform: capitalize;
	color: white;
	font-size: 12pt;
	background-color: transparent;
}

.posts {
	display: inline-grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	grid-gap: 16px;
	width: 100%;
	justify-items: center;
	align-items: center;
}

.success {
	background-color: lime;
	color: white;
	padding: 10px;
	border-radius: 5px;
	/* margin: 20px 0; */
	text-transform: capitalize;
}

.images * {
	width: 300px;
}

.top_section {
	background-color: black;
	padding: 5px;
}

.info {
	display: flex;
	gap: 24px;
}

.info_container {
	display: grid;
	grid-template-columns: 1fr;
}

.read {
	border: 0;
	background-color: transparent;
	color: blue;
}

.read:hover {
	cursor: pointer;
}

.favorite {
	padding: 8px;
	border-radius: 10px;
	background-color: transparent;
	border: 2px solid black;
	color: red;
}

.favorite:hover {
	background-color: white;
	border: 2px solid white;
	cursor: pointer;
}

.match_button {
	display: flex;
	align-items: center;
	width: 200px;
	height: 50px;
	justify-content: center;
	border-radius: 20px;
	border: 0;
	background: linear-gradient(to right, #af85be, #d3a3a9, #d6bfbc);
}

.match_icon {
	/* background-color: transparent; */
	color: red;
}

.match_icon:hover {
	background-color: #ccc;
}

.match_button:hover {
	background: linear-gradient(to left, #af85be, #d3a3a9, #d6bfbc);
	cursor: pointer;
}

.rejected_match {
	background: linear-gradient(to top right, black, red);
	color: #ccc;
}

.rejected_match:hover {
	cursor: not-allowed;
	background: linear-gradient(to bottom left, black, red);
}

.accepted_match {
	background: linear-gradient(to top right, black, limegreen);
	color: #ccc;
}

.accepted_match:hover {
	cursor: pointer;
	background: linear-gradient(to bottom left, black, limegreen);
}

.pending_match {
	background: linear-gradient(to top right, black, orange);
	color: #ccc;
}

.pending_match:hover {
	cursor: pointer;
	background: linear-gradient(to bottom left, black, orange);
}

.match_button_decline {
	display: flex;
	align-items: center;
	width: 100px;
	height: 50px;
	justify-content: center;
	border-radius: 20px;
	border: 0;
	background: linear-gradient(to right, #fe2802, #be3e27, #a73d36);
}

.choice_buttons {
	display: flex;
	justify-content: space-around;
}

.match_button_accept {
	display: flex;
	align-items: center;
	width: 100px;
	height: 50px;
	justify-content: center;
	border-radius: 20px;
	border: 0;
	background: linear-gradient(to right, #55e512, #12c329, #0e9c23);
}

.match_button_accept:hover {
	background: linear-gradient(to left, #12daac, #30e2b0, #56dcaf);
	cursor: pointer;
}

.match_button_decline:hover {
	background: linear-gradient(to left, #ed5353, #f45f5f, #f57a7a);
	cursor: pointer;
}

.change_mind {
	display: none;
	align-items: center;
	width: 200px;
	height: 50px;
	justify-content: center;
	border-radius: 20px;
	border: 0;
	background: linear-gradient(to right, #ccf905, #e3f033, #f1f16a);
}

.change_mind:hover {
	background: linear-gradient(to left, #d1ed63, #cbe861, #d2e080);
	cursor: pointer;
}

.hicky_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 4px;
}

.hicky_div {
	display: flex;
	justify-content: flex-start;
}

.hicky {
	position: relative;
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

.hicky * {
	height: auto;
	width: auto;
	border-radius: 50%;
}

.link {
	border: 2px solid purple;
	display: flex;
	gap: 16px;
	justify-content: center;
	border-radius: 10px;
	align-items: center;
	/* padding: 4px; */
	text-decoration: none;
	color: white;
	width: 300px;
}

.link:hover {
	color: purple;
}

.edit_container {
	padding: 16px;
}

.edit_form {
	display: flex;
	flex-direction: column;
}

.edit_left {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* padding: 8px; */
}

.edit_right {
	width: 100%;
	padding: 8px;
}

.edit_img_container {
	width: 200px;
	height: 200px;
	border-radius: 10px;
	border: 2px solid white;
	position: relative;
}

.edit_img_container * {
	border-radius: 10px;
	/* width: 100%;
	height: 100%; */
}

.edit_names {
	text-align: center;
	margin: 16px 0;
	font-size: 18px;
	line-height: 20px;
}

.edit_upload_button,
.edit_delete_button {
	background-color: #a238ff;
	color: white;
	padding: 8px 16px;
	border-radius: 10px;
	maring: 4px 0;
	font-size: 14pt;
	border: 2px solid white;
}

.edit_upload_button:hover,
.edit_delete_button:hover {
	cursor: pointer;
	background-color: transparent;
}

.edit_delete_button {
	background-color: red;
}

.edit_bio {
	margin: '16px 0';
	padding: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.edit_bio_heading,
.edit_heading {
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.edit_heading {
	text-transform: capitalize;
}

.edit_options_container {
	display: flex;
	justify-content: flex-start;
	/* align-items: center; */
	margin-bottom: 16px;
}

.edit_basic_info {
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
	margin: auto;
}

.edit_options {
	display: none;
}

.edit_options_buttons {
	padding: 8px 32px;
	color: white;
	border-radius: 10px;
	margin: 4px 0;
	border: 2px solid #ccc;
	font-size: 14pt;
}

.edit_options_buttons:hover {
	cursor: pointer;
}

.edit_cancel {
	border: 2px solid #a238ff;
	background-color: transparent;
	text-decoration: none;
}

.edit_cancel:hover {
	border: 2px solid #ccc;
	background-color: #a238ff;
}

.edit_save {
	background-color: #a238ff;
	border: 2px solid #a238ff;
}

.edit_save:hover {
	background-color: transparent;
}

.edit_input_container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px;
	padding: 16px;
	margin: 16px 0;
}

.edit_input_container div {
	display: flex;
	flex-direction: column;
}

.edit_input_container div:nth-child(1) {
	display: flex;
	flex-direction: flex-column;
}

.edit_input_container div:nth-child(2) {
	display: flex;
	flex-direction: flex-column;
	margin-top: 16px;
}

.edit_input_container div label {
	text-align: left;
}

.edit_text_input {
	width: 100%;
	margin-bottom: 30px;
	padding: 10px;
	border-bottom: 2px solid #ccc;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	color: #ccc;
	font-size: 12pt;
	background-color: transparent;
}

.edit_textarea {
	background-color: transparent;
	border: 2px solid white;
	width: 90%;
	height: 200px;
	padding: 8px;
	border-radius: 18px;
	color: #ccc;
}

.edit_select_opt {
	background-color: transparent;
	color: black;
}

.edit_hobbies_container {
	display: flex;
	gap: 16px;
	justify-content: center;
	align-items: center;
}

.edit_hobbies {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
	padding: 16px;
	margin: 16px 0;
}

.edit_hobby_button {
	border: 2px solid white;
	padding: 8px;
	display: flex;
	gap: 16px;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	text-transform: capitalize;
	background-color: transparent;
	font-size: 12pt;
	color: white;
}

.edit_hobby_button:hover {
	border-color: red;
	color: red;
	cursor: pointer;
}

.edit_add_hobby {
	background-color: transparent;
	color: white;
	border: 0;
}

.edit_add_hobby:hover {
	cursor: pointer;
	color: green;
}

.edit_more_info {
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px;
	padding: 16px;
	margin: 16px 0;
}

.edit_general_input {
	display: flex;
	flex-direction: flex-column;
	margin-top: 16px;
}

.edit_general_input label {
	text-align: left;
}

.edit_general_input_second {
	display: flex;
	flex-direction: flex-column;
}

.edit_general_input_second label {
	text-align: left;
}

.edit_occupations {
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px;
}

.edit_occupations_button {
	background-color: #a238ff;
	border: 2px solid white;
	padding: 8px;
	width: 100px;
	height: 50px;
	display: flex;
	gap: 16px;
	justify-content: center;
	align-items: center;
	color: white;
	border-radius: 5px;
	text-transform: capitalize;
}

.edit_occupations_button:hover {
	background-color: transparent;
	border-color: green;
	color: green;
	cursor: pointer;
}

.edit_occupations_display {
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px;
	padding: 16px;
	margin: 16px 0;
}

.edit_pop_occupation {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 8px;
	border: 2px solid white;
	padding: 8px;
	border-radius: 5px;
	text-transform: capitalize;
	align-items: center;
	background-color: transparent;
	color: white;
}

.edit_pop_occupation:hover {
	border-color: red;
	color: red;
}

.edit_social_container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px;
}

.edit_socials {
	display: flex;
	flex-direction: column;
	margin-top: 16px;
}

.edit_busy {
	opacity: 0.5;
}

.edit_busy:hover {
	cursor: not-allowed;
	background-color: red;
}

.post_form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 16px 0;
}

.post {
	border: 2px solid white;
	border-radius: 10px;
	margin-bottom: 16px;
	width: 300px;
	height: 400px;
	position: relative;
}

.error {
	background-color: red;
	color: white;
	padding: 10px;
	border-radius: 5px;
	text-transform: capitalize;
	text-align: center;
}

.flex_center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex_col_center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media only screen and (min-width: 600px) {
	.posts {
		grid-template-columns: 50% 50%;
	}

	.info_container {
		grid-template-columns: 1fr 1fr;
	}

	.images * {
		width: 400px;
	}
}

@media only screen and (min-width: 930px) {
	.container {
		min-height: 100vh;
	}

	.left {
		/* height: 100vh; */
		/* position: relative; */
	}

	.right {
		/* padding: 32px; */
	}

	.posts {
		grid-template-columns: 33% 33% 33%;
		gap: 0;
	}

	.hobbies {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	.top_section {
		padding: 20px;
	}

	.hicky_container {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}

	.edit_form {
		flex-direction: row;
	}

	.edit_left {
		/* flex-direction: row; */
		width: 33%;
		align-items: center;
		justify-content: flex-start;
	}

	.edit_right {
		width: 67%;
	}

	.edit_basic_info {
		margin: 0;
		text-align: left;
	}

	.edit_options_container {
		justify-content: space-between;
	}

	.edit_options {
		display: flex;
		gap: 16px;
	}

	.edit_input_container {
		grid-template-columns: 1fr 1fr;
	}

	.edit_text_input,
	.edit_textarea {
		width: 75%;
	}

	.edit_input_container div:nth-child(2) {
		margin-top: 0;
	}

	.edit_hobbies {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.edit_more_info {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.edit_occupations {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}

	.edit_socials {
		margin-top: 0;
	}

	.post_general {
		width: 400px;
	}
}
