.container {
	margin-top: 64px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.left,
.right {
	width: 100%;
	position: relative;
}

.right {
	text-transform: capitalize;
}

.followers {
	display: flex;
	width: 100%;
	justify-content: space-around;
	margin-bottom: 32px;
	font-size: 20pt;
	line-height: 28px;
}

.heading {
	font-size: 22pt;
	line-height: 28px;
	/* font-weight: semi-bold; */
}

.section {
	margin-top: 16px;
	margin-bottom: 16px;
}

.sex,
.info * {
	font-size: 16pt;
	line-height: 24px;
	font-style: italic;
	color: lightgray;
}

.hobbies {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
	margin-bottom: 50px;
}

.hobby {
	border: 2px solid #ccc;
	padding: 12px 8px;
	border-radius: 16px;
	text-transform: capitalize;
	color: white;
	font-size: 12pt;
	background-color: transparent;
}

.posts {
	display: inline-grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	grid-gap: 16px;
	width: 100%;
	justify-items: center;
	align-items: center;
}

.images * {
	width: 300px;
}

.top_section {
	background-color: black;
	padding: 5px;
}

.info {
	display: flex;
	gap: 24px;
}

.info_container {
	display: grid;
	grid-template-columns: 1fr;
}

.read {
	border: 0;
	background-color: transparent;
	color: blue;
}

.read:hover {
	cursor: pointer;
}

.favorite {
	padding: 8px;
	border-radius: 10px;
	background-color: transparent;
	border: 2px solid black;
	color: red;
}

.favorite:hover {
	background-color: white;
	border: 2px solid white;
	cursor: pointer;
}

.match_button {
	display: flex;
	align-items: center;
	width: 200px;
	height: 50px;
	justify-content: center;
	border-radius: 20px;
	border: 0;
	background: linear-gradient(to right, #af85be, #d3a3a9, #d6bfbc);
}

.match_icon {
	/* background-color: transparent; */
	color: red;
}

.match_icon:hover {
	background-color: #ccc;
}

.match_button:hover {
	background: linear-gradient(to left, #af85be, #d3a3a9, #d6bfbc);
	cursor: pointer;
}

.hicky_container {
	display: grid;
	gird-template-columns: 1fr 1fr;
}

.link {
	border: 2px solid purple;
	display: flex;
	gap: 16px;
	justify-content: center;
	border-radius: 10px;
	align-items: center;
	/* padding: 4px; */
	text-decoration: none;
	color: white;
	width: 300px;
}

.link:hover {
	color: purple;
}

@media only screen and (min-width: 600px) {
	.posts {
		grid-template-columns: 50% 50%;
	}

	.info_container {
		grid-template-columns: 1fr 1fr;
	}

	.images * {
		width: 400px;
	}
}

@media only screen and (min-width: 930px) {
	.container {
		min-height: 100vh;
	}

	.left {
		/* height: 100vh; */
		/* position: relative; */
	}

	.right {
		/* padding: 32px; */
	}

	.posts {
		grid-template-columns: 33% 33% 33%;
		gap: 0;
	}

	.hobbies {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	.top_section {
		padding: 20px;
	}

	.hicky_container {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}
