/* Hero.module.css */

.container {
	display: flex;
	flex-direction: column;
	background: #ffffff;
}

.left_half {
	width: 100%;
	background-image: url('/signup.jpg');
}

.right_half {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.heading {
	font-size: 35px;
	margin: 20px 0;
	text-align: center;
	color: #000000;
	font-family: "Poppins", sans-serif;
}

.heading_sml {
	font-size: 20px;
	margin: 10px 0;
	text-align: center;
	color: #000000;
	font-family: "Raleway", sans-serif;
}

.form_container {
	width: 100%;
	max-width: 300px;
	padding: 20px;
}

.form_input:focus{
	outline: #ff9b49;
	outline-style: dotted;
	border-bottom: 2px solid #f10b0b; 
	color: #000000;
}

.form_input {
	font-family: "Poppins", sans-serif;
	width: 100%;
	margin-bottom: 30px;
	padding: 10px;
	border-bottom: 2px solid #1d1d1d;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	color: #111111;
	font-size: 12pt;
}

.form_input:focus{
	border-bottom: 2px #000000;
}


.form_button {
	font-family: "Poppins", sans-serif;
	width: 100%;
	padding: 10px;
	color: #ffffff;
	background: #000000;
	border-radius: 30px;
	font-size: 12pt;
	margin-top: 10px;
	border: 2px #ccc solid;
}

.form_button:hover {
	cursor: pointer;
}

.error {
	background-color: red;
	color: white;
	padding: 10px;
	border-radius: 5px;
	text-transform: capitalize;
}

.busy {
	opacity: 0.7;
}

.busy:hover {
	cursor: wait;
}

.password_container {
	display: flex;
	gap: 10px;
}

.links_container {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.link {
	color: #272727;
	text-decoration: none;
	margin: 10px 0;
}

.link:hover {
	opacity: 0.7;
}

.question_container {
	padding: 32px;
	border: 2px solid #ccc;
	width: 50%;
	min-height: 400px;
	margin: auto;
	margin-bottom: 25%;
	border-radius: 28px;
}

.question_navigators {
	display: flex;
	align-items: center;
	padding: 0 40px;
}

.question_input {
	background-color: transparent;
	border: 0;
	border-bottom: 2px solid #ccc;
	padding: 10px;
	width: 100%;
	margin: 16px 0;
	font-size: 14pt;
	color: #ccc;
}

.question_input:focus,
.question_input:active {
	border: 0;
	border-bottom: 2px solid purple;
}

.question_button {
	background: linear-gradient(to right, purple, orange);
	color: #ccc;
	border: 2px #ccc solid;
	border-radius: 18px;
	padding: 10px;
	width: 50%;
	margin: 20px auto;
	font-size: 14pt;
}

.question_button:hover {
	background: transparent;
	cursor: pointer;
}

.back:hover {
	opacity: 0.7;
	cursor: pointer;
}

.skip {
	color: #ccc;
	text-decoration: none;
	font-size: 14pt;
}

.skip:hover {
	opacity: 0.7;
}

/* Media Query for Mobile Devices */
@media only screen and (min-width: 930px) {
	.container {
		height: 100vh;
		flex-direction: row; /* Change to column layout for mobile devices */
	}

	.left-half,
	.right-half {
		width: 50%;
	}

	.heading {
		margin: 0 0 20px 0;
	}

	.right-half {
		padding: 20px;
	}

	.form_container {
		max-width: 400px;
	}

	.circular-image {
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
